@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}


html,body{
    height:100%;
    width:100%;
}

.navbar{

    display:flex;
    height: 70px;
    background-color: #333;
    justify-content:space-between;
    align-items:center;
    padding:0 40px; 
}


.logo img{
    height:50px; 
    transition:transform 0.3s ease-in-out;
    border-radius:10px;
    

}

.logo img:hover{
    transform:scale(1.1);

    
}

.nav-links {
    display:flex;
  
    gap:40px;
    align-items:center;


}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;
    font-size:18px;
    transition:transform 0.3s ease;

}

.nav-links a:hover{
    text-decoration:underline;
    text-decoration-color: beige;
    
}


.auth {
    display:flex;
    gap:20px;
    align-items:center;
}

.auth button{
    border-radius:50px;
    padding:5px 10px;
    color:black;
    background-color:tomato;
    border:2px solid transparent;
    transition:transform 0.3s ease, background-color 0.3s ease;
    cursor:pointer;

}

.auth button:hover{
    background-color:orange;
}


.hero{
    display:flex;
    min-height:500px;
    align-items:center;
    justify-content:space-between;
    gap:40px;  
    padding:0 60px; 
    margin-top:20px;
}


.left{
    width:50%;
}

.left img{
    width:100%;
    border-radius:20px;

}

.right{
    width:45%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
    padding:20px;
}

.right p{
    max-width:500px;
    font-size:18px;
    line-height:1.8;
}


.right h1{
    font-size:50px;
    font-weight:600;
    line-height:1.1;
}

.right button{
    padding:12px 25px;
    border-radius:25px;
    border:2px solid transparent;
    background-color:tomato;
    cursor:pointer;
    transition:transform 0.3s ease, background-color 0.3s ease;

}

.right button:hover{
    background-color:orange;
    transform:scale(1.1);
}

.product-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    padding:40px;
  
}

.product-card img{
    width:100%;
    height:300px;
    object-fit:contain;   
}

.product-card{
    padding:20px;
    border:1px solid black;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color:#F5F5DC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    transition:transform 0.3s ease, box-shadow 0.3s ease;
    min-height:450px;
    text-align:center;
    
}

.product-card:hover{
    transform:scale(1.01);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.35);
}

.product-card h3{
    font-size:20px;
    font-weight:500;
    margin-top:10px;
    margin-bottom:10px;
   
}

.product-card p{
    margin-bottom:10px;
}

.product-card button{
    padding:10px 20px;
    border-radius:20px;
    cursor:pointer;
    border:none;
    transition:transform 0.3s ease, background-color 0.3s ease;
  margin-top:auto;
}

.product-card button:hover{
    background-color:orange;
}

.products h2{
    text-align:center;
margin-top:30px;
}

.hamburger{
display:none;
    flex-direction:column;
    gap:5px;
    border:none;
    background:transparent;
    cursor:pointer;
}


.hamburger span{
    width:20px;
    height:3px;
    background-color:black;
    border-radius:5px;
}

.reviews{
    padding:40px;

}

.reviews h2{
    text-align:center;
    margin-bottom:30px;
}

.review-container{
    display:flex;
    gap:30px;
    overflow-x:auto;
    scroll-behavior:smooth;
    overflow-y:hidden;
}

.review-container::-webkit-scrollbar {
    display: none;
}

.review-card{
   
    min-width:350px;
    flex-shrink:0;
    padding:20px;
    border:1px solid rgb(119, 118, 118);
    border-radius:20px;
    background-color:#F5F5DC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction:column;
}


.download-app{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 40px;
    
}

.app-content{
    width:50%;

}

.app-content h2{
    font-size:40px;
    font-weight:600;
}

.app-content p{
    font-size:18px;
    line-height:1.8;
    max-width:500px;
    margin-bottom:20px;
}


.app-buttons{
  display:flex;
  gap:20px;
  align-items:center;

}

.app-buttons img{
   height:auto;
   width:200px;
}
.app-image img{
    width:100%;
    border-radius:20px;
}


@media (max-width:900px){
    .product-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:600px){
    .product-container{
        grid-template-columns: 1fr;
    }

    .product-container .product-card img{
        height:250px;
    }
}


@media (max-width: 700px) {

    .nav-links,
    .auth {
        display: none;
    }

    .hamburger {
        display: flex;
    }

}
